* {
	padding: 0;
	margin: 0;
}

.menu-wrapper {
    position: relative;
	overflow-x: none;
    overflow-y: none;
    background-color:#f2f2f2;
}

.menu	{
	white-space: nowrap;
	overflow-x: hidden;
	overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.item {
    width:100%;
    display: inline-block;
}


.buffer {
    width:15px;
    display: inline-block;
}

.paddle {
    position: relative;
    top:50%;
    transform: translateY(-50%);
    height:40px;
    width:40px;
    border-radius: 40px;
    color: #666;
    opacity: .8;
    border:0;
    position: absolute;
    vertical-align: middle;
    width: 2em;
    margin:20;
    cursor:pointer;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

.left-paddle {
	left: 0;
}
.right-paddle {
	right: 0;
}
.hidden {
	display: none;
}

.print {
	margin: auto;
	max-width: 500px;
}